.header{
    display: flex;
    position: absolute;
    bottom: 90vh;
    left: 20%;
    right: 20%;       
    background:black;
    flex-direction: row;
    opacity: 0.75;
}

.baoMing{
    position: absolute;
    display: flex;
    width: 750px;
    height: 120px;
    left: 25%;
    right: 25%;
    background: rgba(255, 255, 255, 0.938);
    top: 360px;
    margin: 0;
    border-radius: 20px;
}

.headerImg{
    position: relative;
    align-self: flex-start;
    top: 108px;
    margin: 0;
}

.logo{
    line-height: 330px;
    width: 200px; 
    height: 200px;
    text-align: center;
    color: white;
    margin: 10px 100px 10px 1px;
}

.tab-choose{
    line-height: 330px;
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    margin: 10px;
    text-decoration: none;
}

.tab-choose-guanLi{
    line-height: 330px;
    width: 200px;
    height: 200px;
    text-align: center;
    background: dodgerblue;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
}

.dropdowns a{
    display: block;
    padding: 13px 7px 13px 20px;
    font-size: 17px;
    text-decoration: none;
    color:rgb(68, 68, 68)
}

.dropdowns {
    position: absolute;
    display: none;
    top: 65px;
    left: 1099px;
    background-color: #f9f9f9;
    width: 107px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.tab-choose-guanLi:hover{
    background: rgb(0, 108, 248);
}

.tab-choose:hover{
    background: rgba(169, 169, 169, 0.849);
    font-weight:bold;
    font-size: 18px;
}

.backgroundImg {
    position: absolute;
    width: calc(60vw);
    left: 20%;
    right: 20%;
    top: 0;
}

.slogan {
    position: absolute;
    padding: 150px;
    height: 300px;
    left: 20%;
    right: 20%;
    line-height: 200px;
    color: white;
}

.zongZhi {
    position: absolute;
    margin: auto;
    padding: 0px;
    left: 20%;
    height: 60px;
    top: 550px;
}

.zongZhiList {
    display: flex;
    position: absolute;
    left: 20%;
    right: 20%;
    height: 60px;
    top: 590px;
}

.zongZhiItem {
    font-size: 18px;
    left: 0px;
    line-height: 60px;
    flex: 1;
}

.ziLv{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 650px;
    left: 20%;
}

.shiJian {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 650px;
    left: 35%;
}

.zongJieHuiGu{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 650px;
    left: 50%;
}

.fenXiangJiaoLiu{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 650px;
    left: 65%;
}

.hover2:hover{
    width: 200px;
    height: 200px;
}

.school{
    flex-basis: 200px;
    align-self: flex-start;
    line-height: 50px;
    width: 200px;
    height: 50px;
    font-size: 17px;
}

.year {
    flex-basis: 170px;
    line-height: 50px;
    width: 170px;
    height: 50px;
    font-size: 17px;
    margin: 0px 0px 0px 20px;
}

.email {
    flex: 1;
    line-height: 50px;
    width: 150px;
    height: 50px;
    font-size: 17px;
}

.schoolInput {
    position: absolute;
    top: 45px;
    padding: 15px; 
}

#schoolInputText {
    width: 170px;
    height: 35px;
    font-size: 17px;
    border-radius: 7px;
}

.yearInput {
    position: absolute;
    top: 45px;
    padding: 15px;
    left: 205px;
}

select{
    width: 100px;
    height: 35px;
    font-size: 17px;
    border-radius: 8px;
}

.emailInput {
    position: absolute;
    top: 45px;
    padding: 15px; 
    left: 370px;
}

#emailInputText {
    width: 220px;
    height: 35px;
    font-size: 16px;
    border-radius: 7px;
}

.baomingButton {
    position: relative;
    width: 100px;
    height: 60px;
    background: #4fb9ff;
    border-radius: 5px;
    align-self: center;
    right: 25px;
    color: white;
    font-size: 18px;
}

.alert1{
    position: absolute;
    left: 33%;
    margin: 0px;
    width: calc(34vw);
    height: 35px;
    text-align: center;
    background: rgb(255, 105, 105);
    border-radius: 6px;
    line-height: 35px;
    top: 520px;
    visibility: hidden;
}

.alert2{
    position: absolute;
    left: 33%;
    margin: 0px;
    width: calc(34vw);
    height: 35px;
    text-align: center;
    background: rgb(255, 105, 105);
    border-radius: 6px;
    line-height: 35px;
    top: 520px;
    visibility: hidden;
}

.alert3{
    position: absolute;
    left: 24%;
    margin: 0px;
    width: calc(52vw);
    height: 35px;
    text-align: center;
    background: rgb(152, 255, 143);
    border-radius: 6px;
    line-height: 35px;
    top: 500px;
    visibility: hidden;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
}

select:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
}

#submitButton{
    position: absolute;
    top: 45px;
    padding: 15px; 
    left: 640px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background: rgb(0, 140, 255);
    opacity: 0.7;
}

.keChengTitle{
    position: absolute;
    left: 45%;
    margin: auto;
    letter-spacing: 20px;
    top: 860px;
}

.courseSelect{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 270px;
    right: 20%;
    top: 900px;
    justify-content: space-around;
    height: 35px;
    background: #7fccff;
    align-items: center;
    border-radius: 7px;
}

.kechengList{
    position: absolute;
    left: 20%;
    right: 20%;
    width: calc(60vw);
    height: 670px;
    display: flex;
    top: 920px;
    flex-direction: column;
}

.course1{    
    flex:1;
    display: inline;
}

.courseImg{
    float: left;
    margin: 40px;
    border-radius: 50%;
}

.course2{
    flex:1;
    display: inline;
}

.course3{
    flex:1;
    display: inline;
}

.course4{
    flex:1;
    display: inline;
}

footer{
    display: flex;
    background: rgb(214, 214, 214);
    position: absolute;
    left: 20%;
    right: 20%;
    top: 1750px;
    width: calc(60vw);
    height: 250px;
    flex-direction: row;
}

.footer1{
    flex-basis: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.IFE{
    font-size: 30px;
    color: white;
    padding: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    text-align: center;
    line-height: 60px;
}

.footer2{
    flex-basis: 18%;
    line-height: 10px;
    align-self: center;
}

h5{
    color: rgb(95, 95, 95);
}
